<tr class="row-subtotal">
    <td class="col-summary-label" colspan="3">Subtotal</td>
    <td class="col-summary-value">£{{subTotal}}</td>
</tr>
<tr class="row-vat">
    <td class="col-summary-label" colspan="3">VAT @ 20%</td>
    <td class="col-summary-value">£{{vat}}</td>
</tr>
<tr class="row-total">
    <td class="col-summary-label" colspan="3">Total Cost</td>
    <td class="col-summary-value">£{{totalCost}}</td>
</tr>