<tr class="row-subtotal">
    <td class="col-summary-label" colspan="3">Subtotal</td>
    <td class="col-summary-value col-money">£<span class="subtotal-amount">{{subTotal}}</span></td>
</tr>
<tr class="row-vat">
    <td class="col-summary-label" colspan="3">VAT @ 20%</td>
    <td class="col-summary-value col-money">£<span class="vat-amount">{{vat}}</span></td>
</tr>
<tr class="row-total">
    <td class="col-summary-label" colspan="3">Total Cost</td>
    <td class="col-summary-value col-money">£<span class="total-amount">{{totalCost}}</span></td>
</tr>