<table>
    <thead>
        <tr>
            <th class="col-product">Product</th>
            <th class="col-price">Price</th>
            <th class="col-qty">Qty</th>
            <th class="col-cost">Cost</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
    </tfoot>

</table>

<div class="buy-now-container">
    <button class="btn-buy-now">Buy Now »</button>
</div>
