<table>
    <thead>
        <tr>
            <th class="col-product">Product</th>
            <th class="col-price">Price</th>
            <th class="col-qty">Qty</th>
            <th class="col-cost">Cost</th>
        </tr>
    </thead>
    <tbody>
        <tr class="row-subtotal">
            <td class="col-summary-label" colspan="3">Subtotal</td>
            <td class="col-summary-value">$11.96</td>
        </tr>
        <tr class="row-vat">
            <td class="col-summary-label" colspan="3">VAT @ 20%</td>
            <td class="col-summary-value">$2.39</td>
        </tr>
        <tr class="row-total">
            <td class="col-summary-label" colspan="3">Total Cost</td>
            <td class="col-summary-value">$14.35</td>
        </tr>
    </tbody>

</table>