body {
    margin: 0;
    background-color: #f3f3f3;
    font-family: sans-serif;
}

header {
    background-color: #232525;
    padding: 40px;
}

.container {
    padding: 16px;
    width: 600px;
    margin: 0 auto;

    .title {
        padding: 0 16px;
    }

    .description {
        padding: 0 16px;
    }

    .basket-container {
        padding: 32px 0;
    }
}
