body {
    margin: 0;
    background-color: #f3f3f3;
}

header {
    background-color: #232525;
    padding: 40px;
}

svg {
    width: 110px;   
}

.container {
    padding: 20px 0;
    width: 600px;
    margin: 0 auto;
}