.basket-item {
    .qty {
        width: 25px;
        padding: 8px;
    }
}

.col-product {
    width: 5%;
    word-break: normal;

    @media (min-width: 576px) {
        width: 50%;
    }
}

.col-price {
    width: 1%;
}

.col-qty {
    width: 1%;
}

.col-cost {
    width: 1%;
}

.col-action {
    width: 1%;
}
