.basket-item {

    .qty {
        width: 25px;
        padding: 8px;
    }
}

.col-product {
    width: 50%;
}

.col-price {
    width: 12%;
}

.col-qty {
    width: 1%;
}

.col-cost {
    width: 12%;
}

.col-action {
    width: 1%;
}
